@import "scss/normalize";
@import "scss/default";
@import "scss/mixins";

$black:#333;
$orange:#ff5c23;

html, body{
	height:100%;
}

body{
	font:16px/21px 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight:300;
	color:$black;
	margin:0;
	padding:0;
}

.clear{
	clear:both;
}

.container{
	width:1240px;
	padding:0 50px;
	margin:0 auto;
}

.topbar{
	background:$black;
	.login{
		float:right;
	}
	a{
		color:#eee;
		text-decoration:none;
		padding:0 15px;
		display:inline-block;
		margin:5px 0;
		border-left:1px solid #666;
		text-transform:uppercase;
		font-size:70%;
		&:first-child{
			border-left:0;
			margin-left:0;
		}
		&:hover, &:active, &:focus{
			color:#ccc;
		}
	}
}

.header{
	background:#eee;
	border-bottom:3px solid $orange;
	position:absolute;
	top:0;
	width:100%;
	z-index:100;
	height:93px;
	box-shadow:0 0 3px $black;
}

.menu{
	@include minireset;
	li{
		float:left;
	}
	.logo{
		background:$orange;
		font-size:1.6em;
		width:20%;
		a{
			color:#fff;
		}
	}
	a{
		display:block;
		line-height:60px;
		text-align:center;
		text-decoration:none;
		font-size:1.2em;
		padding:0 30px;
	}
}

.home{
	height:100%;
	padding-top:93px;
	.map{
		position:relative;
		height:100%;
	}
	.overlay{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba($black,0.2);
	}
	iframe{
		width:100%;
		height:100%;
		float:left;
	}
}

.picturewall{
	clear:both;
	position:relative;
	overflow:hidden;
	.inner{
		width:200%;
	}
	.overlay{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba($orange,0.5);
	}
	img{
		float:left;
		height:400px;
		width:auto;
	}
}