@import "scss/normalize";
@import "scss/mixins";
@import "scss/default";
@import "scss/select2";
@import "scss/sprite";

$black:#333;
$orange:#ff5c23;


html, body, .contentwrapper{
	height:100%;
	margin:0;
	padding:0;
}

body{
	font:16px/1.6em 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight:300;
	color:$black;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6{
	line-height:1.2em;
}

h1{
	font-size:3em;
}

h2{
	font-size:2.5em;
}

h3{
	font-size:2em;
}

h4{
	font-size:1.7em;
}

h5{
	font-size:1.4em;
}

h6{
	font-size:1.1em;
}

p{
	margin:0 0 1em;
}

img{
	max-width:100%;
	height:auto;
}

abbr{
	border-bottom:1px dotted;
}

input, textarea, select{
	padding:5px;
	width:100%;
	border:1px solid #ccc;
	&[type="checkbox"]{
		width:auto;
	}
	&[type="file"]{
		padding:5px 0;
		border:0;
	}
}

label{
	font-weight:bold;
}

textarea{
	max-width:100%;
	height:150px;
}

button, input[type="submit"]{
	@extend .button;
	@extend .button-orange;
	border:0;
	width:auto;
	&:disabled{
		background:#ccc;
		color:$black;
	}
}

.inputinfo{
	font-size:90%;
	font-style:italic;
}

@include linkcolor($orange, 100);

.averia{
	font-family:'Averia Libre', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight:bold;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.clear{
	clear:both;
}

.print{
	display:none;
}

.mobile{
	display:none;
}

.contentblock{
	height:100%;
}

.container{
	position:relative;
	overflow:auto;
	width:1240px;
	padding:50px;
	margin:0 auto;
}

.onehalf{
	width:50%;
	float:left;
	padding-right:50px;
	&.last{
		padding-right:0;
		padding-left:50px;
	}
}

.one-third{
	float:left;
	width:33.33%;
	padding-right:25px;
}

.two-third{
	float:left;
	width:66.66%;
	padding-left:25px;
}

.orangehover{
	position:relative;
	overflow:hidden;
	img{
		position:absolute;	
		top:0;
		left:0;
		min-height:100%;
		height:auto;
		width:100%;
	}
	.hover{
		position:absolute;	
		top:-100%;
		left:0;
		z-index:100;
		background:$orange;
		background:rgba($orange,0.9);
		height:100%;
		width:100%;
		color:#fff;
		-webkit-transition:top 1s ease;
		transition:top 1s ease;
		.text{
			position:absolute;
			bottom:0;
			left:0;
			padding:25px;
			margin:0;
		}
	}
	&:hover{
		.hover{
			top:0;
		}
	}
	&.inversed{
		.hover{
			top:0;
		}
		&:hover{
			.hover{
				top:-100%;
			}
		}
	}
}

.topbar{
	background:$black;
	.login{
		float:right;
		position:relative;
		right:-15px;
	}
	a{
		color:#eee;
		text-decoration:none;
		padding:0 15px;
		display:inline-block;
		margin:5px 0;
		border-left:1px solid #666;
		text-transform:uppercase;
		font-size:70%;
		&:first-child{
			border-left:0;
			margin-left:0;
		}
		&:hover, &:active, &:focus{
			color:#ccc;
		}
	}
}

.header{
	background:#eee;
	border-bottom:3px solid $orange;
	height:95px;
	box-shadow:0 0 3px $black;
	.container{
		padding:0 50px;
	}
}

.menu{
	@include minireset;
	position:relative;
	left:-30px; //padding first item
	li{
		float:left;
	}
	.logo{
		font-size:1.6em;
		@extend .averia;
		a{
			color:$orange;
		}
	}
	a{
		display:block;
		line-height:60px;
		text-align:center;
		text-decoration:none;
		font-size:1.2em;
		padding:0 30px;
		color:$black;
	}
}

.home{
	.section{
		height:100%;
		position:relative;
	}

	a{
		color:$black;
		text-decoration:none;
		border-bottom:1px solid $black;
		&:hover, &:active, &:focus{
			color:lighten($black,30);
			border-bottom-color:lighten($black,30);
		}
	}

	.signup{
		font-size:1.2em;
		line-height:40px;
	}

	.register{
		background:$orange;
		border-radius:7px;
		text-decoration:none;
		padding:0 50px;
		text-shadow:none;
		display:inline-block;
		border-bottom-color:$black $i;
		margin-right:3px;
		color:#fff;
		&:hover, &:active, &:focus{
			color:#fff;
			background:darken($orange,5);
		}
	}
	.login{
		font-size:80%;
		font-weight:bold;
		line-height:40px;
	}
	.overlay{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display:table;
		z-index:50;
		>div{
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			font-weight:300;
		}
	}
	h1{
		@extend .averia;
		margin:0;
	}
	.intro{
		font-size:2.5em;
		line-height:1.2em;
	}
}

.picturewall{
	clear:both;
	overflow:hidden;
	background:url('img/background-home.jpg') no-repeat center top;
	background-size:cover;
	.overlay{
		background:rgba($black,0.45);
		>div{
			color:#fff;
			text-shadow:0 0 10px #444;
		}
	}
	h1{
		color:$orange;
		font-size:6em;
	}

	a{
		color:#fff;
		text-decoration:none;
		border-bottom:1px solid #fff;
		&:hover, &:active, &:focus{
			color:#ddd;
			border-bottom-color:#ddd;
		}
	}

	img{
		float:left;
		height:33.4%;
		width:auto;
	}
}

.map{
	.description{
		text-shadow:0 0 10px #fff;
		position:absolute;
		top:50%;
		left:50%;
		width:50%;
		height:0; //allow grabbing map between text
		margin-left:-25%;
		margin-top:-200px;
		z-index:50;
		text-align:center;
	}

}

.home{	
	#map{
		height:100%;
	}
}

.recepten{
	min-height:100%;
	height:auto;
	.container{
		display:table;
		height:100%;
	}
	.inner{
		display:table-cell;
		vertical-align:middle;
	}

	.recept{
		height:400px;
	}

	h2{
		@extend .averia;
	}

	.likes{
		font-weight:400;
		line-height:18px;
		color:lighten($black,20);
		margin-top:1em;
		i{
			float:left;
			margin-right:5px;
		}
	}
}

.restaurants{
	position:relative;

	.flexslider{	
		img{
			height:100%;
			min-width:100%;
			width:auto;
			top:0;
		}
	}

	.flex-control-nav{
		position:absolute;
		bottom:100px;
		left:100px;
		width:auto;
		li{
			margin-left:0;
			margin-right:5px;
		}
		a{
			border-color:#fff;
			&.flex-active{
				background:#fff;
			}
		}
	}

	.caption{
		background:#888;
		background:rgba(#000,0.8);
		padding:50px;
		padding-bottom:75px;
		position:absolute;
		bottom:50px;
		left:50px;
		color:#fff;
		overflow:auto;
		width:30%;
		h2{
			margin-top:0;
		}
	}
}


.flexslider{
	height:100%;
	position:relative;
	.slides, li{
		height:100%;
		overflow:hidden;
	}
	.imagecontainer{
		height:100%;
		background-size:cover;
		background-position:center center;
	}
}

.flex-control-nav{
	position:absolute;
	right:0;
	bottom:18px;
	z-index:100;
	line-height:0;
	li{
		display:inline-block;
		margin-left:6px;
	}
	a{
		display:block;
		width:18px;
		height:18px;
		text-indent:-999em;
		border:1px solid #fff;
		border-radius:50px;
		cursor:pointer;
		&.flex-active{
			background:#fff;
		}
	}
}

.map{
	height:400px;
	img{
		max-width:initial;
	}
}

.recipeindex{
	.newestrecipes{
		height:60%;
	}
}

.newestrecipes{
	h1{
		margin-top:0;
	}
	.flexslider{
		height:100%;
	}
	.flex-control-nav{
		position:absolute;
		bottom:0;
		left:50%;
		margin-left:-620px;
		@extend .container;
		text-align:right;
		z-index:600;
		a{
			text-indent:999em;
		}
	}
	.title{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background:rgba(#000,0.8);
		color:#fff;
		height:126px;
		a{
			color:#fff;
		}
	}
	.container{
		padding:20px 50px 30px;
	}
	h1{
		margin-bottom:10px;
		line-height:1;
	}
}

.button{
	border-radius:7px;
	display:block;
	padding:15px 20px;
	text-decoration:none;
	line-height:18px;
	color:$black;
	background:#ddd;
	i{
		display:block;
		float:left;
		margin-right:7px;
	}
	&:hover, &:focus, &:active{
		box-shadow:0 0 1px $black;
	}
}

.button-orange{
	background:$orange;
	color:#fff;
	&:hover, &:focus, &:active{
		color:#ddd;
	}
}

.recipecontent{
	background:#eee;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	.shoppinglist{
		background:$black;
		color:#fff;
	}
	
	.orangehover{
		height:200px;
	}
}

.recipeblock{
	width:50%;
	float:left;
	padding-right:5px;
	margin-bottom:10px;
	&.even{
		padding-right:0;
		padding-left:5px;
	}
	img{
		max-width:100%;
		height:auto;
	}
}

.recipe{
	text-align:center;
	margin-bottom:25px;
	a{
		text-decoration:none;
	}
	.title{
		font-size:140%;
	}
	.actions{
		@include minireset;
		width:100px;
		height:30px;
		margin:0 auto;
		padding:0 5px;
		background:#ddd;
		border-radius:7px;
		li{
			float:left;
			line-height:0;
			width:30px;
			i{
				margin-top:6px;
				&:hover, &:focus, &:active{
					opacity:0.5;
				}
			}
		}
	}
}

.recipemeta{
	@include minireset;
	line-height:18px;
	li{
		float:left;
		position:relative;
		padding-left:22px;
		&:not(:last-child):after{
			content:"-";
			color:#aaa;
			padding:0 5px;
		}
	}
	i{
		position:absolute;
		left:0;
	}
}

.detailheader{
	height:100%;
	background-size:cover;
	background-position:center center;
	position:relative;
	&.fixed{
		position:fixed;
		top:-100%;
		left:0;
		margin-top:126px;
		width:100%;
		z-index:600;
	}
	.title{
		cursor:pointer;
	}
	h1{
		margin-bottom:10px;
		line-height:1;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.fl{
		width:100%;
	}
}

.recipe-detail{
	.header{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		z-index:500;
	}
	&.fixed{
		.fixedfix{
			height:100%;
			margin-top:-126px;
		}
		.detailheader{
			position:fixed;
			top:-100%;
			left:0;
			margin-top:126px;
			width:100%;
			z-index:600;
		}
		.recipecontent{
			margin-top:126px;
		}
	}
	.ingredients{
		h2{
			margin-top:0;
		}
	}

	.recipephotos{
		img{
			margin-top:25px;
		}
	}
}

table.dinners{
	width:100%;
	th{
		text-align:left;
		background:#eee;
		cursor:pointer;
		i{
			margin-right:5px;
			&.sort-asc, &.sort-desc{
				margin-bottom:2px;
			}
		}
	}
	tr{
		border:1px solid #eee;
		&.focus{
			background-color:rgba($orange,0.2);
			-webkit-transition:background-color 1s ease-out;
			-moz-transition:background-color 1s ease-out;
			-ms-transition:background-color 1s ease-out;
			-o-transition:background-color 1s ease-out;
			transition:background-color 1s ease-out;
		}
	}
	td,th{
		padding:5px;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	.date-col{
		max-width:101px;
	}
	.title-col{
		max-width:733px - 101 - 62 - 103 - 92;
	}
	.price-col{
		max-width:62px;
	}
	.diet-col{
		max-width:103px;
	}
	.distance-col{
		max-width:92px;
	}
}

.checkboxes{
	label{
		font-weight:300;
	}
	ul{
		@include minireset;
		list-style:none;
	}
}

.widget{
	background:darken(#fff,5);
	padding:20px;
	border-radius:7px;
	margin-bottom:1em;
	&.dark{
		background:#ddd;
	}
	h3{
		margin-top:0;
	}
}

.search-recipe{
	form>div{
		margin-top:1em;
		position:relative; //for select2 validation message
		&:first-child{
			margin-top:0;
		}
	}
	label{
		margin-right:7px;
	}
	select{
		padding:5px;
	}
	button{
		margin-top:2em;
	}
}

.select2-container{
	width:100%;
}

.recipe-user{
	h3{
		margin-top:0;
	}
}

.user-social{
	padding:0;
	li{
		display:inline-block;
		margin-right:7px;
		@extend .medium;
	}
	i{
		border-radius:7px;
	}
}

.profile-view{
	.avatar{
		float:left;
		margin-right:50px;
		margin-bottom:1em;
		border-radius:7px;
	}
	.content{
		margin-top:-207.5px;
		background:#fff;
	}
	h1{
		margin-top:0;
	}
	.main{
		h2{
			margin-top:0;
		}
	}
}

.calendar{
	table{
		width:100%;
		border:1px solid #ddd;
	}
	thead tr{
		border-bottom:1px solid #ddd;
		a{
			display:block;
			height:100%;
			width:100%;
		}
	}
	td, th{
		padding:10px;
		width:14.28%;
		text-align:center;
	}
	td{
		cursor:pointer;
	}
	td.event{
		color:$orange;
	}
	td.today{
		font-weight:bold;
	}
	td.highlight{
		background:#fff;
	}
	td.empty{
		background:darken(#fff,5);
	}
	td.disabled{
		cursor:default;
	}
	a{
		text-decoration:none;
	}
}

.flash{
	position:fixed;
	z-index:900;
	top:-35px;
	left:0;
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	font-weight:400;
	-webkit-transition:top 250ms ease-in;
	-moz-transition:top 250ms ease-in;
	-ms-transition:top 250ms ease-in;
	-o-transition:top 250ms ease-in;
	transition:top 250ms ease-in;
	border-bottom:1px solid;
	&.visible{
		-webkit-transition:top 250ms ease-in 1000ms;
		-moz-transition:top 250ms ease-in 1000ms;
		-ms-transition:top 250ms ease-in 1000ms;
		-o-transition:top 250ms ease-in 1000ms;
		transition:top 250ms ease-in 1000ms;
		top:0;
	}
	a{
		color:#555;
		text-decoration:none;
		&:hover, &:active, &:focus{
			color:#000;
		}
	}
}

.message{
	padding:5px;
	border:1px solid;
	border-radius:7px;
}

.flash-success, .success{
	background:#8bf97c;
	border-color:#118e00;
}
.flash-error, .error{
	background:#eb7764;
	border-color:#cd1d00;
	color:#fff;
}
.flash-notice, .notice{
	background:#f0b174;
	border-color:#e46600;
}

.red{
	color:#cd1d00;
}

.green{
	color:#118e00;
}

.orange{
	color:$orange;
}

.dinnerform{
	h1{
		margin-top:0;
		line-height:1;
	}
	.onehalf>div{
		margin-bottom:1em;
	}
	#dinner_date_date{
		width:65%;
		margin-right:2%;
	}
	#dinner_date_time{
		width:33%;
	}
	.invitees, .price{
		width:50%;
		float:left;
	}
	.invitees{
		padding-right:2%;
	}
	#dinner_address>div{
		margin-bottom:1em;
	}
	#dinner_submit{
		float:right;
		margin-top:3em;
	}
}

#topsubmit{
	margin-top:0.3em;
}

.recipeform{
	.onehalf>div{
		margin-bottom:1em;
	}
	.amount, .ingredient{
		float:left;
		margin-bottom:1em;
		&.label{
			margin-bottom:0;
		}
	}

	.labels{
		width:97%;
	}

	.amount{
		width:33%;
	}
	.ingredient{
		width:67%;
		padding-left:2%;
		>div{
			position:relative;
		}
	}

	#recipe_recipeingredients{
		&>div>div{
			width:97%;
			clear:both;
		}
		.deleterow{
			line-height:33px;
			text-decoration:none;
			padding-left:5px;
		}
		.select2-container-active{
			.select2-choices{
				border-color:#5897fb;
			}
		}		
		.select2-choices{
			padding:0 5px;
			background:transparent;
			border-color:#ccc;
		}
		.select2-search-choice{
			margin:1px 0;
			padding:4px 0;
			font-size:16px;
			line-height:initial;
			font-family:sans-serif;
			background:transparent;
			border:0;
			box-shadow:none;
			a{
				display:none;
			}
		}
		.select2-search-field{
			input{
				padding:4px 0;
			}
		}
	}

	.select2-selection-limit{
		display:none $i;
	}
	.select2-results{
		margin:0;
	}

	.cooking, .ready, .aantal{
		float:left;
		width:32%;
		margin-left:2%;
		margin-bottom:0 $i;
	}
	.cooking{
		margin-left:0;
	}

	.category, .diet{
		float:left;
		width:50%;
		padding-left:1%;
	}
	.category{
		padding-right:1%;
		padding-left:0;
	}

	.recipe-recipe{
		margin-bottom:0 $i;
	}

	textarea{
		height:300px;
	}

	h1{
		margin-top:0;
		line-height:1;
	}
	#recipe_submit{
		float:right;
	}
}

#dinner_photos, #recipe_photos{
	&>div{
		margin-top:1em;
		padding-top:1em;
		border-top:1px solid #ddd;
		&:first-child{
			border-top:0;
			padding-top:0;
		}
	}
}

.photo-row{
	&>div{
		margin-bottom:1em;
	}
}

.add_photo_link{
	display:inline-block;
}

.tabs{
	@include minireset;
	border-bottom:1px solid #ddd;
	margin-bottom:3em;
	li{
		display:inline-block;
		background:darken(#fff,3);
		border:1px solid #ddd;
		border-top-right-radius:7px;
		border-top-left-radius:7px;
		position:relative;
		bottom:-1px;
		left:-4px;
		line-height:18px;
		&:first-child{
			left:0;
		}
		&.active{
			border-bottom-color:#fff;
			background:#fff;
		}
	}
	a{
		padding:10px 30px;
		display:block;
		text-decoration:none;
	}
}

.recipeinfo{
	background:#eee;
	float:left;
	list-style:none;
	margin:0;
	padding:20px;
	border-radius:7px;
	margin-right:1em;
	margin-bottom:1em;
}

.ingredients{
	ul{
		@include minireset;
	}
	li:before{
		content:"- ";
	}
}

.loginform{
	.recover{
		line-height:48px;
	}
}

.registerform{
	>div{
		margin-bottom:1em;
	}
}

.recoveryform{
	div>div{
		margin-bottom:1em;
	}
}

.adddinner{
	text-align:right;
	.button{
		display:inline-block;
		margin-left:1em;
	}
}

.markdown{
	display:none;
	table{
		width:100%;
	}
	td,th{
		padding:5px;
		border:1px solid #ccc;
		width:50%;
	}
	th{
		text-align:left;
		background:#eee;
	}
}

.welcome{
	background:#eee;
	border:1px solid #ccc;
	padding:50px;
	h1{
		margin-top:0;
	}
}

.userform{
	.onehalf>div{
		margin-bottom:1em;
	}
	h1{
		margin-top:0;
		line-height:1;
	}
	#useredit_submit{
		float:right;
	}
}

.showmore-toggle{
	i{
		margin-right:5px;
	}
}

.showmore{
	display:none;
}

.homerecipe{
	width:32%;
	float:left;
	margin-bottom:1em;
	font-size:120%;
	a{
		text-decoration:none;
	}
	img{
		float:left;
	}
	&.middle{
		margin-left:2%;
		margin-right:2%;
	}
}

.recipe-section{
	h2{
		margin-bottom:0.5em;
	}
}

.dinnerlist{
	@include minireset;
	img{
		float:left;
		margin-right:1em;
	}
	p{
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.title{
		margin-bottom:0;
	}
	.dinnermeta{
		color:#aaa;
	}
}

.nonefound{
	line-height:18px;
	i{
		float:left;
		margin-right:5px;
	}
}

.participantlist{
	@include minireset;
	li{
		margin-bottom:1em;
	}
}

.participant{
	img{
		float:left;
		margin-right:1em;
	}
	line-height:50px;
}

.form{
	>div{
		margin-bottom:1em;
	}
}

.dinners-title{
	margin:0;
	line-height:48px;
}

.ingredientpersons{
	.aantal{
		width:35px;
		text-align:center;
	}
}

.recipes{
	h2{
		font-size:1.6em;
	}
	h3{
		font-size:1.3em;
	}
	>div{
		border-bottom:1px solid #ddd;
	}
}

.printshoppinglist{
	float:right;
	left:0 $i;
	background:none $i;
	border:0 $i;
	a{
		padding-right:0;
		padding-left:0;
	}
	i{
		float:left;
		margin-right:5px;
	}
}

.mapheader{
	.header{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		z-index:500;
	}

	.mapcontainer{
		padding-top:95px;
		position:relative;
		height:495px;
	}

	.resize{
		position:absolute;
		bottom:25px;
		right:0;
		padding:10px 30px;
		background:rgba($orange, 0.7);
		color:#fff;
		cursor:pointer;
	}

	.map{
		height:100%;
	}
}

.dinnerinfo{
	border-top:1px solid #ddd;
	&:first-child{
		border-top:0;
	}
	h2{
		font-size:1.3em;
		margin-bottom:0;
	}
	.dinnermeta{
		@include minireset;
		li{
			display:inline;
			color:#666;
			&:first-child{
				&:after{
					content:" - "
				}
			}
		}
	}
}

.printrecipe{
	position:absolute;
	right:50px;
	bottom:30px;
	line-height:18px;
	i{
		float:left;
		margin-right:5px;
	}
	a{
		color:#fff;
		&:hover, &:active, &:focus{
			color:#ccc;
		}
	}
}

.borderlist{
	@include minireset;
	li{
		border-top:1px solid #ccc;
		padding:5px 0;
		&:first-child{
			border-top:0;
		}
	}
}

.dinner-detail{
	h1{
		margin-top:0;
		line-height:1;
	}
}

.deelnemenform{
	>div>div{
		margin-bottom:1em;
	}
}

@media screen and (max-width:1240px){
	.container{
		width:960px;
	}

	.home{
		.intro{
			font-size:2em;
		}
		.recept{
			height:250px;
		}
	}

	.loginform{
		.recover{
			clear:both;
		}
	}

	.mapheader{
		.mapcontainer{
			height:395px;
		}
	}

	.calendar{
		th,td{
			padding:5px;
		}
	}

	table.dinners{
		.date-col, .price-col, .diet-col, .distance-col{
			width:auto;
		}
		.title-col{
			max-width:220px;
		}
	}

	.recipeindex{
		.recipeblock{
			.text{
				font-size:2em;
			}
		}
	}

	.newestrecipes .flex-control-nav{
		margin-left: -(960px / 2);
	}
}

@media screen and (max-width:960px){
	
	.container{
		width:100%;
		padding:20px;
	}

	.header{
		.container{
			padding:0 20px $i;
		}
	}

	.onehalf{
		padding:0 $i;
		width:100%;
	}

	.one-third{
		padding:0 $i;
		width:100%;

	}

	.two-third{
		padding:0 $i;
		width:100%;
	}

	.home{
		.description{
			width:100%;
			margin-left:0;
			left:0;
			padding:20px;
		}
		.section{
			min-height:100%;
		}
		h1{
			font-size:2em;
		}
		.picturewall{
			h1{
				font-size:3em;
			}
		}
		.intro{
			font-size:1.6em;
		}
	}

	.dinnerindex{
		.sidebar{
			display:none;
		}
	}

	.newestrecipes .flex-control-nav{
		display:none;
	}

	.recipeindex .newestrecipes{
		height:40%;
	}
	.recipe-detail{
		.widget{
			display:none;
		}
	}
	.printrecipe{
		display:none;
	}

	.profile-view{
		.map{
			display:none;
		}
		.content{
			margin-top:0;
		}
	}
}

@media screen and (max-width:450px){
	.mobile{
		display:block;
	}

	.desktop{
		display:none;
	}

	.header{
		min-height:95px;
		height:auto;
		.container{
			height:100%;
			overflow:hidden;
		}
	}

	.menu.mobile{
		left:0;
		a{
			padding:0;
			line-height:1;
		}
		h1{
			margin:0.3em 0 0.6em;
			line-height:1;
		}
		ul{
			display:none;
			@include minireset;
			margin-bottom:1em;
			margin-top:1em;
		}
		li{
			border-top:1px solid #ccc;
			display:block;
			float:none;
			a{
				line-height:50px;
				&:active, &:hover, &:focus{
					background:#ddd;
				}
			}
		}
		.menutoggle{
			font-weight:bold;
			line-height:30px;
			&:active, &:hover, &:focus{
				text-decoration:underline;
			}
		}
	}

	.home{
		.intro{
			display:none;
		}
		h1{
			margin-bottom:20px;
		}
	}

	.topbar{
		display:none;
	}
}