{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
	    <h1 class="averia">{% if 'No route found' not in exception.message %}{{ exception.message }}{% else %}Pagina niet gevonden{% endif %}</h1>
	    <p>Sorry, deze pagina is niet (meer) beschikbaar, als je denkt dat dit een fout is stuur dan een mailtje naar <a href="mailto:info@chaw.be">info@chaw.be</a>.</p>
    </div>
{% endblock %}