{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
	    <h1 class="averia">{% if status_text == 'Not Found' %}Pagina niet gevonden{% else %}{{ status_text }}{% endif %}</h1>
	    <p>Sorry, deze pagina is niet (meer) beschikbaar, als je denkt dat dit een fout is stuur dan een mailtje naar <a href="mailto:info@chaw.be">info@chaw.be</a>.</p>
    </div>
{% endblock %}