{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
	    <h1 class="averia">Oops, er ging wat mis</h1>
	    <p class="red">Fout {{ status_code }}</p>
	    <p>Als je deze pagina vaker te zien krijgt, stuur dan een mailtje naar <a href="mailto:info@chaw.be">info@chaw.be</a>.</p>
    </div>
{% endblock %}