{% include 'Design311WebsiteBundle:Shared:dinnerlist.html.twig' with {'dinners': dinners|slice(0,3)} %}
{% if dinners|length > 3 %}
	<div class="showmore">
		{% include 'Design311WebsiteBundle:Shared:dinnerlist.html.twig' with {'dinners': dinners|slice(3)} %}
	</div>
	<p><a href="#" class="showmore-toggle"><i class="sprite sort-desc small"></i><span>Meer diners weergeven</span></a></p>
{% endif %}