<div class="markdown">
	<table>
		<tr>
			<th>Opmaak</th>
			<th>Resultaat</th>
		</tr>
		<tr>
			<td>*schuingedrukt*</td>
			<td><em>schuingedrukt</em></td>
		</tr>
		<tr>
			<td>**vetgedrukt**</td>
			<td><strong>vetgedrukt</strong></td>
		</tr>
		<tr>
			<td>* Puntje één <br>* Puntje twee</td>
			<td>
				<ul>
					<li>Puntje één</li>
					<li>Puntje twee</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>[voorbeeldlink](http://chaw.be/)</td>
			<td><a href="http://chaw.be/" target="_blank">voorbeeldlink</a></td>
		</tr>
	</table>
</div>