<div class="one-third sidebar">
	<p><a href="{{ path('design311website_recepten_add') }}" class="button addrecipe"><i></i>Recept toevoegen</a></p>
	<p><a href="{{ path('design311website_recepten_shoppinglist') }}" class="button shoppinglist"><i></i>Winkellijstje bekijken (<span class="shoppinglistcount">{% if app.user %}{{app.user.shoppinglist|length}}{% else %}0{% endif %}</span>)</a></p>
	<p><h3>Recepten zoeken op ingredient</h3></p>
	<p>FORM Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quidem, omnis sapiente autem quaerat pariatur dolor fugit est assumenda in ipsam quis optio tenetur. Odit culpa soluta officiis odio provident!</p>
</div>