<li><i class="pot {% if white is defined %}white {% endif %}sprite" title="Bereidingstijd"></i>{{recipe.cookingTime}} minuten</li>
<li><i class="bestek {% if white is defined %}white {% endif %}sprite" title="Klaar om op te genieten"></i>{{recipe.readyTime}} minuten</li>
<li><i class="people {% if white is defined %}white {% endif %}sprite" title="Aantal personen"></i>{{recipe.aantalPersonen}} {{recipe.aantalPersonen == 1 ? 'persoon' : 'personen'}}</li>