# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/media/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

sftp-config*.json