# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
public_html/uploads/*
public_html/media/*
public_html/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

sftp-config*.json