@import "scss/mixins";
@import "scss/default";
@import "scss/normalize";

$width:1200px;

*{
	background:rgba(black,0.05);
}

.container{
	width:$width;
	margin:0 auto;
}

.logo{
	background:#f00;
	width:300px;
	height:100px;
	display:block;
	float:left;
}

.profilebox{
	float:right;
	line-height:100px;
	a{
		padding:0 20px;
	}
}

table{
	width:100%;
}