<h1>Chaw.be</h1>
<p>{{name}} wil je graag uitnodigen voor zijn/haar dinner op <strong>{{dinner.date|date('d/m/Y')}}</strong> om <strong>{{dinner.date|date('G:i')}}</strong></p>

<blockquote>
	{{message}}	
</blockquote>