<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<style>
    	@import url(http://fonts.googleapis.com/css?family=Lato:300%7cAveria+Libre);
	</style>
</head>
<body style="font-family:Lato, Arial, Helvetica, sans-serif;font-weight:300;background:#fff;color:#333;">
<h1 style="font-family:'Averia Libre', Arial, 'Helvetica Neue', Helvetica, sans-serif;"><a href="{{url('design311website_homepage')}}" style="color:#ff5c23;font-family:'Averia Libre', Arial, 'Helvetica Neue', Helvetica, sans-serif;">Chaw.be</a></h1>

<hr>

{% block message %}{{message}}{% endblock %}

<hr>

<p>
	<strong><a href="{{url('design311website_homepage')}}" style="color:#ff5c23;">Chaw.be</a> Social Dining &amp; Recepten</strong><br>
	<a href="https://www.facebook.com/chawBE" target="_blank">Like Chaw op Facebook</a><br>
	<a href="https://twitter.com/chaw_BE" target="_blank">Volg Chaw op Twitter</a>
</p>

</body>
</html>
