<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1><a href="{{url('design311website_homepage')}}" style="color:#ff5c23;">Chaw.be</a></h1>

<hr>

{% block message %}<p>{{message}}</p>{% endblock %}

<hr>

<p>
	<strong><a href="{{url('design311website_homepage')}}" style="color:#ff5c23;">Chaw.be</a> Social Dining &amp; Recepten</strong><br>
	<a href="https://www.facebook.com/chawBE" target="_blank">Like Chaw op Facebook</a><br>
	<a href="https://twitter.com/chaw_BE" target="_blank">Volg Chaw op Twitter</a>
</p>

</body>
</html>
