{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}Wachtwoord wijzigen - {{parent()}}{% endblock %}

{% block content %}
<div class="container">
	<div class="onehalf">
		
		<h1>Wachtwoord wijzigen</h1>

		{{ form(form) }}
	</div>
	
</div>

{% endblock %}
