{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}Wachtwoord of gebruikersnaam vergeten - {{parent()}}{% endblock %}
{% block description %}Ben je je wachtwoord of gebruikersnaam van je Chaw-account vergeten? We sturen je een mailtje om je wachtwoord te resetten.{% endblock %}

{% block content %}
<div class="container">
	<div class="onehalf">
		<h1 class="averia">Wachtwoord of gebruikersnaam vergeten?</h1>
			
		{% if error is not null %}
			<p class="message error">{{error}}</p>
		{% endif %}
		
		{{ form(form, {'attr': {'class': 'recoveryform'}} ) }}
	</div>
</div>

{% endblock %}
