{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
		{% for emailField in form.photos %}
	        <li>
	            {{ form_errors(emailField) }}
	            {{ form_widget(emailField) }}
	            {{ladybug_dump(emailField.file)}}
	            {% if emailField is not null %}
					<img src="" alt="">
	            {% endif %}
	        </li>
	    {% endfor %}
		{{ form(form) }}
	</div>
{% endblock %}

{% block footer %}
    <script>
    	var photoHolder;

		// setup an "add a photo" link
		var addPhotoLink = $('<p><a href="#" class="add_photo_link">Add a photo</a></p>');
		var addIngredientLink = $('<p><a href="#" class="add_photo_link">Add an ingredient</a></p>');
		var deleteLink = '<a href="#" class="deleterow">delete</a>';

		jQuery(document).ready(function() {
		    // Get the ul that holds the collection of photos
		    photoHolder = $('div#recipe_photos');
		    ingredientHolder = $('div#recipe_recipeingredients');

		    // add the "add a photo" anchor and li to the photos ul
		    photoHolder.append(addPhotoLink);
		    ingredientHolder.append(addIngredientLink);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    photoHolder.data('index', photoHolder.children('div').length);
		    ingredientHolder.data('index', ingredientHolder.children('div').length);

		    photoHolder.children('div').each(function(i, el) {
		    	if (i != 0) {
		    		$(el).append(deleteLink);
		    	};
		    });
		    ingredientHolder.children('div').each(function(i, el) {
		    	if (i != 0) {
		    		$(el).append(deleteLink);
		    	};
		    });

		    if (photoHolder.data('index') == 0) {
	        	addInput(photoHolder, addPhotoLink, false);
		    };

		    if (ingredientHolder.data('index') == 0) {
	        	addInput(ingredientHolder, addIngredientLink, false);
			};

		    addPhotoLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(photoHolder, addPhotoLink, true);
		    });

		    addIngredientLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(ingredientHolder, addIngredientLink, true);
		    });

		    $('form').on('click','.deleterow', function(e) {
		    	e.preventDefault();
		    	$(this).parent().remove();
		    });
		});

		function addInput(holder, link, allowDelete) {
		    // Get the data-prototype explained earlier
		    var prototype = holder.data('prototype');

		    // get the new index
		    var index = holder.data('index');

		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);

		    // increase the index with one for the next item
		    holder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a photo" link li
		    if (allowDelete) {
		    	var newFormContainer = $('<div></div>').append(newForm + deleteLink);
		    }
		    else{
		    	var newFormContainer = $('<div></div>').append(newForm);
		    }
		    link.before(newFormContainer);
		}
    </script>
{% endblock %}