{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block bodyclass %}recipepage{% endblock %}

{% block content %}
	<div class="newestrecipes">
		<div class="container">
			<h1 class="averia">{{recipes|length}} {{ recipes|length == 1 ? 'recept' : 'recepten' }} gevonden</h1>
		</div>
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' %}
			{% include 'Design311WebsiteBundle:Shared:recipes-list.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
	<script>
		$(function(){
			$('.ajax-button').click(function(){
				var link = $(this);

				//TODO add loader gif for slow json
				$.getJSON( $(this).data('ajax'), function( data ) {
					if (data.status === 1) {
						link.addClass('active');
					}
					else{
						link.removeClass('active');
					}

					if (link.hasClass('shop')) {
						$('.shoppinglistcount').text(data.shoppinglistcount);
					};
				});

				return false;
			})
		})
	</script>
{% endblock %}