{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}{{ ('Recepten zoeken: ' ~ recipes|length ~ (recipes|length == 1 ? ' recept' : ' recepten') ~ ' gevonden - ' ~ parent())|truncate(55)}}{% endblock %}
{% block description %}Zoek recepten op basis van de ingredi&euml;nten die je nog hebt, of gewoonweg de dingen die je graag eet.{% endblock %}

{% block bodyclass %}recipepage{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="averia">{{recipes|length}} {{ recipes|length == 1 ? 'recept' : 'recepten' }} gevonden</h1>
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' %}
			{% include 'Design311WebsiteBundle:Shared:recipes-list.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
{% endblock %}